<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegação -->
    <header class="header">
        <img src="/static/empresa.png" alt="Logo" class="logo">
        <!-- Hamburguer icon-->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!-- Menu -->
         <nav class="nav">
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i>Início</a></li>
                <li><a href="/encomendas"><i class="fas fa-box"></i>Encomendas</a></li>
                <li><a href="/catalogo"><i class="fas fa-store"></i>Catalogo</a></li>
                <li><a href="/estoques"><i class="fas fa-warehouse"></i>Estoques</a></li>
                <li><a href="/vendas"><i class="fa-solid fa-money-bill"></i>Vendas</a></li>
                <li><a href="/relatorios"><i class="fas fa-chart-bar"></i>Relatórios</a></li>
            </ul>
         </nav>
    </header>
    
    
    <div class="conteudo">
        {% block conteudo %}        
        {% endblock %}
    </div>
    

    <script type='module' src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
