{% extends 'base.html' %}

{% block conteudo %}

<div class="content-catalogo">

    <div id="filtro-pesquisa">
        
        <div class="barra-pesquisa">Pesquisar</div>

        <div class="filtro-bloco">
            <h5>Categorias</h3>

            <div class="checkbox">
                <input type="checkbox" id="bolsas" name="bolsas" />
                <label for="bolsas">Bolsas</label>                
            </div>
            
            <div class="checkbox">
                <input type="checkbox" id="mochilas" name="mochilas" />
                <label for="mochilas">Mochilas</label>                
            </div>

            <div class="checkbox">
                <input type="checkbox" id="Necessaire" name="Necessaire" />
                <label for="Necessaire">Necessaire</label>                
            </div>

            <div class="checkbox">
                <input type="checkbox" id="bolsas" name="bolsas" />
                <label for="bolsas">Bolsas</label>                
            </div>
        </div>

        <div class="filtro-bloco">
            <h5>Materiais</h5>
        </div>

        <div class="filtro-bloco">
            <h5>Tamanho</h5>
        </div>

        <div class="filtro-bloco">
            <h5>Faixa de preço</h5>
        </div>

    </div>

    <div id="catalogo">

        <div class="card-catalogo">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p>Categoria</p>
        </div>

        <div class="card-catalogo">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p>Categoria</p>
        </div>

        <div class="card-catalogo">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p>Categoria</p>
        </div>

        <div class="card-catalogo">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p>Categoria</p>
        </div>

        <div class="card-catalogo">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Quantidade</p>
            <p>Categoria</p>
        </div>
    </div>

</div>


{% endblock %}