{% extends 'base.html' %}

{% block conteudo %}


    <!--Barra lateral de filtro-->
<!--
    <div id="filtro-pesquisa">
        
        <div class="barra-pesquisa">
            <input type="text" class="pesquisa" placeholder="Pesquisar">
        </div>

        <div class="filtro-bloco">
            <h5>Categorias</h3>

            <div class="checkbox">
                <input type="checkbox" id="bolsas" name="bolsas" />
                <label for="bolsas">Bolsas</label>                
            </div>
            
            <div class="checkbox">
                <input type="checkbox" id="mochilas" name="mochilas" />
                <label for="mochilas">Mochilas</label>                
            </div>

            <div class="checkbox">
                <input type="checkbox" id="Necessaire" name="Necessaire" />
                <label for="Necessaire">Necessaire</label>                
            </div>

            <div class="checkbox">
                <input type="checkbox" id="bolsas" name="bolsas" />
                <label for="bolsas">Bolsas</label>                
            </div>
        </div>

        <div class="filtro-bloco">
            <h5>Materiais</h5>

            <div class="checkbox">
                <input type="checkbox" id="material1" name="material1">
                <label for="materia1">material1</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="material2" name="material2">
                <label for="materia1">material2</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="material3" name="material3">
                <label for="materia1">material3</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="material4" name="material4">
                <label for="materia1">material4</label>
            </div>
        </div>

        <div class="filtro-bloco">
            <h5>Tamanho</h5>

            <div class="checkbox">
                <input type="checkbox" id="pequeno" name="pequeno">
                <label for="materia1">pequeno</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="médio" name="médio">
                <label for="materia1">médio</label>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="grande" name="grande">
                <label for="materia1">grande</label>
            </div>

            
        </div>

        <div class="filtro-bloco">
            <h5>Faixa de preço</h5>
        </div>    

</div>

-->

<!-- Catálogo -->

    <div id="grid-catalogo">
        <!-- Cards preenchidos dinamicamente pelo JavaScript -->
    </div>
    
{% endblock %}
