{% extends 'base.html' %}


{% block conteudo %}

<div class="container">

    <button class="botao-adicionar" id="botao-adicionar">
        <p id="mais">+</p>
        <p id="adc-encomenda">Adicionar encomenda</p>
        <!-- <img src="/static/icones/adicionar.png" class="icone"> -->
    </button>

    <table id="tabelaEncomendas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Contato</th>
                <th>Produto</th>
                <th>Observações</th>
                <th>Qtd</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dados inseridos pelo script-->
        </tbody>
    </table>

    <dialog id="dialog">

        <form id="formulario">
            <label for="input-cliente">Cliente</label>
            <input type="text" id="input-cliente" name="input-cliente">

            <label for="input-contato">Contato</label>
            <input type="text" id="input-contato" name="input-contato">
                    
            <label for="input-produto">Produto</label>
            <input type="text" id="input-produto" name="input-produto">
                    
            <label for="input-quantidade">Quantidade</label>
            <input type="number" id="input-quantidade" name="input-quantidade">
                    
            <label for="input-observacoes">Observações</label>
            <input type="text" id="input-observacoes" name="input-observacoes">

            <button id="cancelar" type="reset">Cancelar</button>
            <button id="confirmar" type="submit">Confirmar</button>

        </form>        
    </dialog>
    
</div>



{% endblock %}